<!-- Prints each line of jobs from the jobs array -->
<div class="mb-2 pb-2 border-bottom row">
    <div class="col-9">
        <h3>{{  job['title']  }}</h3>
        <div> Location: {{  job['location']  }}</div>
        {%  if 'salary' in job  %}
        <div> Salary: {{  job['salary']  }}</div>
        {%  endif  %}
    </div>
    <div class="col-3" >
        <a class="btn btn-outline-primary float-end" href=" mailto:hello@acmecorp.com?subject=Application%20for%20position%20as%20{{ job['title']}}&body=Introduction%3A%0D%0A%0D%0ALinkedin%20profile%20url%3A%0D%0A%0D%0AContact%20information%3A">Apply</a>
    </div>
</div>